.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--smoke);
  align-items: center;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 85%;
  height: 300px;
  margin: 3rem 0;
  border-radius: 5px;
}

.card:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -100px;
  width: 10px;
  height: 100px;
  background-color: var(--cyan);
}

.card section {
  position: absolute;
  top: -40px !important;
  padding: 1rem !important;
  background-color: var(--darkViolet);
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.card p {
  padding: 0 1rem;
}

@media screen and (min-width: 1300px) {
  .cardContainer {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .card {
    margin: 8rem 2rem;
    text-align: left;
    align-items: flex-start;
  }

  .card:nth-child(1) {
    transform: translateY(-20%);
  }

  .card:nth-child(3) {
    transform: translateY(20%);
  }

  .card h2,
  .card p {
    margin: 0.5rem 2rem;
  }

  .card h2 {
    padding-top: 2rem;
  }

  .card p {
    padding: 0;
  }

  .card:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 200px;
    right: -130px;
    width: 130px;
    height: 10px;
    background-color: var(--cyan);
  }

  .card:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 150px;
    right: -130px;
    width: 130px;
    height: 10px;
    background-color: var(--cyan);
  }

  .card section {
    position: absolute;
    top: -40px !important;
    left: 40px;
    padding: 1rem !important;
    background-color: var(--darkViolet);
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  .card section img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 355px) {
  .card section {
    position: absolute;
    top: -40px !important;
    padding: 2rem !important;
    background-color: var(--darkViolet);
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  .card section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .card p {
    font-size: 0.9rem;
  }
}
