.container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.workerImage {
  transform: translateX(3%);
}

.shortenALinkSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background-image: linear-gradient(180deg, #ffffff 50%, var(--smoke) 50%);
}
