.pageContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.workerImage {
  transform: translateX(3%);
}

.shortenALinkSection {
  display: flex;
  justify-content: center;
  background-color: #fff;
  background-image: linear-gradient(180deg, #ffffff 50%, var(--smoke) 50%);
}
