.shortenedLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 0.5rem 0;
}

.shortenedLink p {
  padding: 1rem 0;
  margin: 0;
  word-break: break-all;
  width: 90%;
  text-align: left;
}

.shortenedLink p:nth-of-type(1) {
  color: var(--violet);
}

.shortenedLink p:nth-last-child(2) {
  color: var(--cyan) !important;
}

.shortenedLink hr {
  width: 100%;
  margin: 0;
  height: 2px;
  border-width: 0;
  color: var(--smoke);
  background-color: var(--smoke);
}

.shortenedLink button {
  background-color: var(--cyan);
  width: 90%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 0;
  cursor: pointer;
}

.shortenedLink button:hover {
  background-color: var(--cyanActive);
}

.copied {
  background-color: var(--darkViolet) !important;
  width: 90%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 0;
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  .shortenedLink {
    flex-direction: row;
    width: 80%;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
  }

  .shortenedLink button {
    width: 20%;
    margin: 0 0 0 1rem;
  }
  .shortenedLink hr {
    display: none;
  }

  .shortenedLink p:last-of-type {
    text-align: right;
  }
}
