.shortenALink {
  position: relative;
  display: flex;
  margin: 2rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 180px;
  width: 90%;
  border-radius: 15px;
  background-image: url("../resources/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -10%;
  background-color: var(--darkViolet);
}

.shortenALink input,
.shortenALink button {
  width: 90%;
  height: 50px;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
}

.shortenALink input {
  position: relative;
  padding: 1rem;
  outline: 0;
}

.shortenALink button {
  background-color: var(--cyan);
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

.shortenALink button:hover { 
  background-color: var(--cyanActive);
}

.shortenALink input::placeholder {
  color: var(--grayishViolet);
}

.shortenALink input:focus::placeholder {
  color: var(--red);
}

.shortenALink input:focus {
  border: 3px solid var(--red);
}

.focusText {
  display: none;
  width: 90%;
  font-size: 0.8rem;
  margin: 0;
  text-align: left;
  color: var(--red);
}

.shortenALink input:focus + .focusText {
  display: flex;
}

@media screen and (min-width: 1300px) {
  .shortenALink {
    flex-direction: row;
    width: 80%;
    background-image: url("../resources/images/bg-shorten-desktop.svg");
    background-size: cover;
  }

  .shortenALink input {
    margin: 2rem 1rem 2rem 2rem;
    height: 35%;
    font-size: 1.3rem;
    padding: 1rem 2rem;
  }

  .shortenALink button {
    margin-right: 2rem;
    width: 20%;
    height: 35%;
    font-size: 1.3rem;
  }

  .focusText {
    display: none;
    position: absolute;
    bottom: 15%;
    left: 2rem;
    font-size: 0.8rem;
    margin: 0;
    text-align: left;
    color: var(--red);
  }
}
