.advancedStatistics {
  width: 100%;
  align-self: center;
  background-color: var(--smoke);
  text-align: center;
}

.advancedStatistics h2,
.advancedStatistics p {
  padding: 0 1.5rem;
}

@media screen and (min-width: 1300px) {
  .advancedStatistics h2 {
    font-size: 2rem;
  }
}
